*~
#*#

*__pycache__*

push.sh
pull.sh

*/painters/actdata
*/painters/allpainters.json
*/painters/painter_act
*/painters/painters_c
*/painters/painters_y
*/painters/soms/*

agenet/agenet_act_*
agenet/agenet_c_*
agenet/agenet_X_*
agenet/agenet_y_*
agenet/othermodels
agenet/soms_25x25
agenet/soms_back
agenet/soms/*
agenet/base_soms/*
agenet/dataset/*
agenet/deprecated/*
nohup.out
*out*.txt

